$main-color: #2286eb;
$primary-color: #334e68;
$secondary-color: #fff;
$text-color: #627d98;

.pricing {
  position: relative;
  padding-bottom: 4%;
}

.pricing::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
  height: 700px;
  background-image: url("../img/vawe1.png");
  background-repeat: no-repeat;
  filter: hue-rotate(348deg);
  opacity: 0.5;
  z-index: -1;
  background-size: cover;
}

.pricing-block {
  display: flex;
  justify-content: center;
}

.card {
  width: 22%;
  background-color: #fff;
  border-radius: 10px;
  padding: 3%;
  margin: 0 2%;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.1));
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;

  &__plan {
    background-color: #e6f6ff;
    color: $main-color;
    font-weight: 600;
    font-size: 0.7rem;
    text-transform: uppercase;
    padding: 3% 5%;
    border-radius: 15px;
  }

  &__price {
    color: $main-color;
    font-size: 2rem;
    font-weight: 900;
    padding-top: 15%;
  }

  &__time {
    font-size: 0.6rem;
  }

  &__details {
    text-align: center;
    padding: 20% 0 15% 0;
    font-size: 0.7rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__numbers-block {
    display: flex;
    margin: 15% 0;
    font-size: 0.9rem;
    .numbers-block__numbers {
      display: flex;
      flex-direction: column;
      text-align: end;
      margin-right: 3%;
      font-weight: 600;
    }
    .numbers-block__detail {
      display: flex;
      flex-direction: column;
      text-align: start;
    }
  }

  &__button {
    padding: 4% 25%;
    border: 2px solid $main-color;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: $main-color;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease-in;
  }
}

.card:hover {
  background-color: $main-color;
  color: #fff;
  filter: drop-shadow(0 2px 5px $main-color);
  transform: translateY(-3px);

  .card__price {
    color: #fff;
  }
}
