$main-color: #2286eb;
$primary-color: #334e68;
$secondary-color: #fff;
$text-color: #627d98;

.screenshots-all {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 10% 0;
  .screenshot {
    flex-basis: 18%;
    width: 23%;
    overflow: hidden;
    opacity: 0.5;
    border-radius: 16px;
    overflow: hidden;
    filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
    transition: all 0.2s ease-in-out;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .screenshot:hover {
    opacity: 1;
    filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.3));
    transform: translateY(-3px);
  }
}
