$main-color: #2286eb;
$primary-color: #334e68;
$secondary-color: #fff;
$text-color: #627d98;

.footer {
  background-color: $main-color;
}

.footer-blocks {
  display: flex;
  justify-content: space-between;
  padding: 2% 0;
  @media screen and (max-width: 650px) {
    flex-direction: column-reverse;
  }
}

.footer-copyright {
  margin-top: 5%;
  color: #fff;
  @media screen and (max-width: 650px) {
    text-align: center;
  }
}

.footer-images {
  @media screen and (max-width: 650px) {
    display: flex;
    justify-content: space-around;
  }
}

.footer-blok2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 70%;

  @media screen and (max-width: 650px) {
    width: 100%;
  }

  a {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
  }
  a:hover {
    color: $primary-color;
  }
}

.footer-menu {
  margin-top: 2%;
  width: 100%;
  text-align: end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  @media screen and (max-width: 780px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (max-width: 650px) {
    flex-direction: row;
    justify-content: space-between;
  }

  a:not(:first-child) {
    display: block;
    margin-left: 7%;
    @media screen and (max-width: 780px) {
      margin-bottom: 5px;
    }
  }
}

.social-links {
  width: 35%;
  text-align: end;
  @media screen and (max-width: 650px) {
    width: 100%;
    text-align: center;
    padding: 20px;
  }

  a {
    margin-left: 10%;
    @media screen and (max-width: 650px) {
      margin: 0 10px;
    }
  }
}
