$main-color: #2286eb;
$primary-color: #334e68;
$secondary-color: #fff;
$text-color: #627d98;

.faq {
  position: relative;
}

.faq::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 700px;
  background: url("../img/vawe1.png") no-repeat;
  filter: hue-rotate(348deg);
  opacity: 0.5;
  z-index: -1;
  background-size: cover;
}

.faq-block {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-block__questions {
  width: 60%;
  @media screen and (max-width: 780px) {
    width: 100%;
  }
}

.faq-block__question {
  background-color: #fff;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.2));
  padding: 4%;
  border-radius: 10px;
  margin-top: 2%;
  position: relative;
  transition: all 0.3s ease-in-out;
  .fa-chevron-right {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4%;
    color: rgba(128, 128, 128, 0.637);
    @media screen and (max-width: 780px) {
    }
  }
  .fa-chevron-right--active {
    transform: rotate(90deg);
    color: $main-color;
  }
}

.faq-block__question:hover {
  transform: translateY(-2px);
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3));
}

.answer {
  display: none;
  margin-top: 3%;
}

.answer--open {
  display: block;
}

.answer-title {
  cursor: pointer;
}

.answer-title--active {
  color: $main-color;
}

.faq-block__watch {
  width: 30%;
  padding: 30px;
  height: 433px;
  background-image: url(../img/watch.png);
  background-repeat: no-repeat;
  background-size: contain;
  filter: drop-shadow(2px 2px 5px rgba(0, 23, 153, 0.418));
  @media screen and (max-width: 780px) {
    display: none;
  }
}
