@import "../../node_modules/normalize.css/normalize";
// @import "../../node_modules/slick-carousel/slick/slick";
// @import "../../node_modules/magnific-popup/dist/magnific-popup";
$main-color: #2286eb;
$primary-color: #334e68;
$secondary-color: #fff;
$text-color: #627d98;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: $text-color;
  background: linear-gradient(to bottom, rgba(237, 238, 238, 0.856), #fff);
}

button:active,
button:focus,
button:hover {
  outline: none;
}

strong {
  color: $main-color;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  color: $secondary-color;
}

h2 {
  color: $primary-color;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  margin: 3% auto;
}

.main-wrapper {
  width: 60%;
  margin: 0 auto;

  @media screen and (max-width: 1400px) {
    width: 70%;
  }
  @media screen and (max-width: 1200px) {
    width: 80%;
  }
  @media screen and (max-width: 1024px) {
    width: 90%;
  }
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;

  &__links {
    display: flex;
    width: 32%;
  }

  &__link {
    font-size: 0.8rem;
    font-weight: 500;
    color: $secondary-color;
  }
  &__link:hover {
    color: $primary-color;
  }

  &__link:not(:last-child) {
    margin-right: 16%;
  }

  &__logo {
    display: flex;
    justify-content: center;
    width: 32%;
    .letter-a {
      display: block;
      width: 30px;
      height: 30px;
      background-color: $secondary-color;
      border-radius: 5px;
      text-align: center;
      color: $main-color;
      font-size: 1.7rem;
      font-weight: 600;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    width: 32%;
  }
}

.button {
  background-color: transparent;
  border: 0;
  outline: none;
  padding: 3% 16%;
  color: $secondary-color;
  cursor: pointer;
}

.button-primiry {
  border: 1.5px solid #fff;
  border-radius: 20px;
}

.smartWatch {
  width: 19%;
  margin: 0 auto;
  margin-bottom: 8%;
  filter: drop-shadow(2px 2px 5px rgba(10, 11, 82, 0.452));

  img {
    width: 100%;
  }
}

.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -50%;
  width: 200%;
  height: 188%;
  z-index: -1;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  background: linear-gradient(160deg, #119dfa 10%, #52eaec);
}

.up-button {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 1%;
  right: 1%;
  background-color: transparent;
  border: transparent;
  font-size: 5rem;
  color: #b4d9ff6c;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: none;
}

.up-button--shown {
  display: block;
}

.up-button:hover {
  color: $main-color;
}

//scroll bar
::-webkit-scrollbar-button {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background-color: #ecedee;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: $text-color;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $main-color;
}
::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 15px;
  height: 0px;
}
::-webkit-scrollbar {
  width: 20px;
}
