$main-color: #2286eb;
$primary-color: #334e68;
$secondary-color: #fff;
$text-color: #627d98;

.testimonial {
  position: relative;
  overflow: hidden;
}

.testimonial::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 700px;
  background: url(../img/vawe1.png) no-repeat;
  transform: scaleX(-1);
  filter: hue-rotate(348deg);
  opacity: 0.5;
  background-size: cover;
}

.testimonial-block {
  display: flex;
  margin: 10% 0;
  align-items: center;
  justify-content: center;
}

.testimonial-block__photo {
  width: 108%;
  height: 218px;
  position: relative;
  flex-basis: 30%;
  margin-right: 7%;
}

.testimonial-block__photo::before {
  content: "";
  position: absolute;
  top: -8%;
  left: -14px;
  width: 109%;
  height: 127%;
  background-image: url(../img/mas-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.photo-mask {
  width: 92%;
  height: 113%;
  overflow: hidden;
  mask-size: 66%;
  mask-repeat: no-repeat;
  mask-image: url("../img/mask.png");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../img/mask.png");

  .comment-photo {
    width: 106%;
    height: 100%;
    background-color: red;
    position: relative;
    img {
      width: 100%;
      position: absolute;
      top: -100px;
      left: -28px;
      display: none;
      transform: scale(1.1);
      @media screen and (max-width: 3000px) {
        top: -120px;
        left: -116px;
      }
      @media screen and (max-width: 2500px) {
        top: -100px;
        left: -39px;
      }

      @media screen and (max-width: 1920px) {
        top: -60px;
        left: 10px;
      }
      @media screen and (max-width: 500px) {
        top: -18px;
        left: 0px;
      }
    }

    .photo-comment2 {
      top: 43px;
      transform: scale(1.7);
    }
    .photo-comment3 {
      top: 0;
      transform: scale(1.3);
    }

    .photo-comment--active {
      display: block;
    }
  }
}

.testimonial-block__comment {
  flex-basis: 50%;
  position: relative;

  .fa-quote-left {
    position: absolute;
    top: -10%;
    left: -10%;
    font-size: 2rem;
    color: $main-color;
    @media screen and (max-width: 780px) {
      left: -15%;
    }
    @media screen and (max-width: 650px) {
      display: none;
    }
  }
}

.testimonial-block__text {
  font-weight: 400;
  display: none;
}

.testimonial-block__text--active {
  display: block;
}

.testimonial-block__text2 {
  margin-top: 10%;

  .testimonial-block__name {
    font-size: 1.2rem;
    display: none;
  }

  .testimonial-block__name--active {
    display: inline;
  }

  .testimonial-block__prof {
    font-size: 0.8rem;
  }
}

.testimonial-icons {
  font-size: 1.2rem;
  color: rgba(128, 128, 128, 0.747);
  position: absolute;
  bottom: 0;
  width: 100px;
  text-align: right;
  right: 5%;
  @media screen and (max-width: 650px) {
    position: static;
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }

  .fas {
    padding: 10%;
    cursor: pointer;
    @media screen and (max-width: 650px) {
      padding: 0;
      padding-top: 5%;
    }
  }
}

.arrow-active {
  color: $main-color;
}
